
/* google fonts start */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* google fonts ends */




/* Page One */

/* container 1 css start */




.area {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.box1 {
  width: 15%;
  height: 100%;
}

.box2 {
  height: auto;
  width: 72%;
}

.box3 {
  height: 100%;
  width: 13%;
}

.box2>div>img {
  height: 100%;
  width: 100%;
}

.name_area {
  transform: rotate(-19.775deg);
  text-align: center;
  position: relative;
  right: 0vw;
  left: 14vw;
  top: -18.5vw;
  width: 50%;
  height: 0;
}

.name_area>p {
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 3.67vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.message_area {
  transform: rotate(-18.995deg);
  text-align: center;
  position: relative;
  right: 0vw;
  left: 40vw;
  top: -20vw;
  width: 40%;
  border: 1px solid erd;
  height: 0;
}

.message_area>p {
  color: #010101;
  font-family: Inter;
  font-size: 2.43vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.48vw;
  text-transform: uppercase;
}

.follow_area {
  transform: rotate(-18.995deg);
  text-align: center;
  position: relative;
  right: 0vw;
  left: 53vw;
  top: -20.5vw;
  width: 40%;
  border: 1px solid erd;
  height: 0;
}

.follow_area>p {
  color: #010101;
  font-family: Inter;
  font-size: 2.43vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8.4px;
  text-transform: uppercase;
}

.box1_area1 {
  width: 50%;
  margin-left: auto;
  margin-right: 10%;
}

.box1_area1>img {
  width: 100%;
  height: 100%;
}

.box1_area2 {
  height: 100%;
  text-align: left;
  line-height: -1px;
  width: 50%;
  margin-top: 283%;
  margin-left: auto;
  transform: rotate(-21.387deg);
}

.box1_area2_p1 {
  margin: 0;
  color: #010101;
  font-family: Poppins;
  font-size: 4.15vw;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.box1_area2_p2 {
  color: #010101;
  font-family: Poppins;
  font-size: 1.27vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -13%;
}


/* container 1 css End */


/* container 2 css Start */

.container2_area {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-top: -10rem; */
}

.container2_area_box1 {
  width: 47%;
  /* height: 100%; */
}

.container2_area_box2 {
  width: 50%;
}

.container2_area_box1>div>img {
  width: 100%;
  height: 100%;
}

.avatar2_border {
  position: relative;
  top: -82vw;
  height: 78vw;
  width: 91%;
  border-radius: 3vw;
  margin: auto;
  border: 1vw solid #FFF;
}

.avatar2_square {
  border: 2.2vw solid rgba(255, 255, 255, 0.29);
  /* -webkit-backdrop-filter: blur(7.5764007568359375px); */
  transform: rotate(-45deg);
  width: 21vw;
  height: 34%;
  margin: inherit;
  margin-top: 18%;
}

.container2_area_box2>div {
  height: 82%;
}


.container2_area_box2_area_box_1 {
  border-radius:14.16vw;
  background: #140A29;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-top: 23%;
}

.container2_area_box2_area_box_1>p {
  color: #FFF;
  font-family: Poppins;
  font-size: 3.399vw;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.33vw;
  text-transform: uppercase;
  margin: 0;
}


.container2_area_box2_area_box_2 {
padding-left: 2%;
padding-right: 2%;
margin-top: 15%;
}

.container2_area_box2_area_box_2>p{
  color: #010101;
text-align: center;
font-family: Poppins;
font-size: 1.98vw;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}


.container2_area_box2_area_box_3{
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
}

.container2_area_box2_area_box_3>div>p{
  color: #010101;
font-family: Poppins;
font-size: 2.466vw;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 0.22vw;
text-transform: uppercase;
}





/* container 2 css Ends */



/* container 3 css Starts */


.container3{
  margin-top: -12%;
  /* z-index: 1; */
}
.container3_area{
  /* height: 100%; */
  width: 100%;
}
.container3_area>img{
  height: 100%;
  width: 100%;
}

.container3_border{
  position: absolute;
  top: 144vw;
  height: 57vw;
  width: 93.5%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 2.48vw 11.53vw;
  border: 0.46vw solid #000;
  z-index: 1;
}



.container4_area{
display: flex;
margin-left: 12%;
margin-right: 12%;
justify-content: space-between;
}

.galary>p{
  color: #000;
  font-family: Poppins;
  font-size: 2.43vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.viewall{
margin-top: auto;
margin-bottom: auto;
}
.viewall>p{
  color: #6D6D6D;
font-family: Poppins;
font-size: 1.50vw;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.slider-component{
  width: 115%;
}

.container5{
  width: 120%;
  margin-left: -20%;
  overflow: hidden;
  margin-bottom: 10px;
}
.custom-carousel .react-multi-carousel-item--active {
  z-index: 1;
}


.custom-carousel .react-multi-carousel-item--active + .react-multi-carousel-item {
  transform: translateX(25%) ; 
  z-index: 2;
}

.custom-carousel .react-multi-carousel-item--active + .react-multi-carousel-item + .react-multi-carousel-item {
  transform: translateX(50%) ;
  z-index: 2;
}




.react-multi-carousel-dotList {
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.react-multi-carousel-dot {
  width: 2%;
  height: 2px; 
  background-color: #999; 
  margin: 0 5px; 
  border: 2px solid  #999;
  border-radius: 10px;
  margin-left: 1%;
}

.react-multi-carousel-dot--active {
  border: 2px solid  #999;
  background-color: #333; 
}


.slider-bottom {
  color: white;
  width: 100%;
  height: 5vw;
  background-color: rgba(0, 0, 0, 0.51);
  position: relative;
  top: -5.2vw;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
}


.flex-1 {
 /* margin-top: 1%; */
 line-height: -100px;
  flex-basis: 35%;

}

.flex-2 {
  
  flex-basis: 50%;
  /* margin-top: 1%; */
}
.flex-2>div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 23%;
}

.slider-flex {
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
}

.slider-font{
  color: #FFF;
  font-family: Poppins;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 123.4%; /* 20.994px */
}

.icon_area{
margin-top: 5%;
height: 50%;
width: 50%;
}
.icon{
  height: 10%;
  width: 40%;
}

.messaage{
  margin-top: 9%;
}
.icon_area>span{
  color: #FFF;
font-family: Poppins;
font-size: 1.63vw;
font-style: normal;
font-weight: 600;
/* line-height: 123.4%;  */
}



/* container 5 slider  css Ends */







/* container 6 slider  css starts */

.container6_text_area{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.container6_text_area>p{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1.27vw;
  font-style: normal;
  font-weight: 400;
  line-height: 172%;
}

/* container 6 slider  css Ends */





/* container 7 slider  css starts */

.container7_text_area{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 5%;
  text-align: center;
}
.container7_text_area>p{
  color: #000;
  font-family: Playball;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 30.24px */
  
}


/* container 7 slider  css Ends */







/* @media screen and (max-width: 430px), screen and (max-height: 932px){ */
@media screen and (max-width: 430px){
  .container5{
    width: 100%;
    margin-left: 0%;
    overflow: hidden;
    margin-bottom: 10px;
  }



  
.slider-bottom {
  height: 12vw !important;
  top: -12.2vw !important;
}


.flex-1 {
 margin-top: 1% !important;
}

.flex-2 {
  flex-basis: 32% !important;
}

.slider-font{
  font-size: 2vw !important;
}

.container6_text_area{
margin-top: -7%;
}
.container7_text_area{
  padding-bottom: 0%;
}







.area {
 display: none;
}

.area1 {
  display:block !important;
  /* height: 100vh; */
 }
 .area1_box1{
  display: flex;
 }
 .ab1_area1{
  height: 100%;
  width: 100%;
  margin-left: 5%;
  margin-top: 7%;
 }
 .ab1_area1>img{
  height: 100px;
 }
 .area1_box2{
z-index: -1;
margin-top: -20%;
height: 74%;

 }
 .area1_box2>img{
  height: 100%;
  width: 100%;
 }

 .ab1_area2{
  /* border: 1px solid red; */
  transform: rotate(-27.052deg);
  margin-right: 35%;
  margin-top: 5%;
 }

 .ab1_area2_p1{
color: #010101;
font-family: Poppins;
font-size: 56.592px;
font-style: italic;
font-weight: 700;
line-height: normal;
margin-top: 20%;
margin-bottom: -10%;
 }
 .ab1_area2_p2{
  color: #010101;
  font-family: Poppins;
  font-size: 18.268px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -0%;
  margin-bottom: 20%;
 }

 .area1_box3_name_area{
  transform: rotate(-26.688deg);
  border-radius: 50px;
  padding-top: 0;
  text-align: center;
  background-color:#140A29;
  height: 88px;
  margin-top: -10%;
 }
 .area1_box3_name_area>p{
  transform: rotate(-1deg);
  color:#fff;
font-family: Bebas Neue;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 2.3%;
margin-bottom: 0px;


 }


 .area1_box3_message_area{
  transform: rotate(-26.688deg);
 }
 .area1_box3_message_area>p{
  position: absolute;
  top: -190px;
  left: 70px;
  color: #010101;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
 }



 .area1_box3_follow_area{
  transform: rotate(-26.688deg);
 }
 .area1_box3_follow_area>p{
  position: absolute;
  top: 10px;
  left: 55%;
  color: #010101;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
 }







 .container2_area {
  display: block;
 /* height: 100vh; */
}

.container2_area_box1 {
  width: 100%;
  margin-top: 93px;
}

.container2_area_box2 {
  width: 100%;
  height: 100%;
}

.container2_area_box1>div>img {
  width: 100%;
  height: 100%;
}

.avatar2_border {
  position: relative;
  top: -610px;
  height: 550.5px;
  width: 88%;
  border-radius: 3vw;
  margin: auto;
  margin-left:3.5%;
  margin-top: 5%;
  border: 10px solid #fff;
}

.avatar2_square {
  border: 25px solid rgba(255, 255, 255, 0.29);
  -webkit-backdrop-filter: blur(7.5764007568359375px);
  transform: rotate(-45deg);
  width: 49%;
  height: 30%;
  margin: inherit;
  margin-top: 22%;
  margin-left: 18%;
}

.container2_area_box2>div {
  height: 82%;
 border: 1px solid red;
}


.container2_area_box2_area_box_1 {
  border-radius:14.16vw;
  background: #140A29;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-top: -150%;
}

.container2_area_box2_area_box_1>p {
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}


.container2_area_box2_area_box_2 {
padding-left: 0;
padding-right: 0;
margin-top: 8%;
width: 70%;
margin-left: auto;
margin-right: auto;
}

.container2_area_box2_area_box_2>p{
  color: #010101;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.container2_area_box2_area_box_3{
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.container2_area_box2_area_box_3>div>p{
  color: #010101;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}










.container3{
  display:none
 }
.container31{
  display:block !important
 }

.container31_area{
  margin-top: -200px;
}
.container31_area>img{
 height: 100%;
 width: 100%;
}
.pradeep{
  height: 10px;
}
 .container31_border{
  position: absolute;
  top: 2200px;
  height: 830px;
  width: 90%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 43px 199.927px;
  border: 8px solid #000;
  z-index: 1;
 }







 .galary>p{
 color: #000;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.viewall>p{
  color: #6D6D6D;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



 

/* container 6 slider  css starts */

.container6_text_area{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.container6_text_area>p{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 172%; /* 25.8px */
}

/* container 6 slider  css Ends */





/* container 7 slider  css starts */

.container7_text_area{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 5%;
  text-align: center;
}
.container7_text_area>p{
  color: #000;
  font-family: Playball;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 20.79px */
  
}

/* .slider-component{
  border: 1px solid red;
}
.slider-component>img{
  height: 50vh;
} */




/* container 7 slider  css Ends */








.slider-component{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}








}




.area1 {
  display: none;
 }
 .container31{
  display:none
 }

 .slider_image{
  width: 100%;
 }
 .slider_image>img{
  width: 100% !important;
  height: 100%;
 }






 @media screen and (max-width: 424px){
  .avatar2_border {
  top: -600px;
}
.container31_border{
  top: 2150px;
  height: 800px;
}
 }

  @media screen and (max-width: 416px){
  .avatar2_border {
  top: -590px;
   border: 5px solid #fff;
   width: 90%;
}
.container31_border{
  top: 2110px;
  height: 800px;
}
 }
  @media screen and (max-width: 400px){
  .avatar2_border {
  top: -590px;
   border: 5px solid #fff;
   width: 90%;
}
.container31_border{
  top: 2100px;
  height: 750px;
}
.container31_area{
  margin-top: -150px;
}
 }

  @media screen and (max-width: 381px){
  .avatar2_border {
  top: -530px;
   border: 5px solid #fff;
   width: 90%;
    height: 480.5px;
}
.container31_border{
  top: 2010px;
  height: 680px;
}
 }
  @media screen and (max-width: 368px){
  .avatar2_border {
  top: -520px;
   border: 5px solid #fff;
   width: 90%;
    height: 480.5px;
}

.container31_border{
  top: 1940px;
  height: 680px;
}

 }